<!DOCTYPE html>
<html>
  <head>
    <title>Feed</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" href="/imgs/PremisesPal_Favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="FeedButton">
      <button type="button" onclick="location.href='create-post.html'">Create Post</button>
      <button type="button" onclick="location.href='account.html'">View Account</button>
      <button type="button" onclick="location.href='/home'">Logout</button>
      <button type="button" onclick="location.href='/create-review.html'">Create Review</button>
      <label for="email"><b></b></label>
    </div>
    <form class="FeedButton" method="POST" action="/review-details">
      <input style="padding: 10px;"class="ReviewButton" type="email" name="email" placeholder="Enter contractor email">
      <button type="submit">Find Reviews</button>
    </form>

    <div id="post-grid">
      <% for (let i = 0; i < posts.length; i++) { %>
        <div class="post">
          <h2><%= posts[i].title %></h2>
          <p>Description: <%= posts[i].description %></p>
          <p>Price: $<%= posts[i].price %></p>
          <% if (posts[i].requiredSkills) { %>
            <p>Skills: <%= posts[i].requiredSkills.join(', ') %></p>
          <% } %>
          <p>Contact: <%= posts[i].posterEmail %></p>
        </div>
      <% } %>
    </div>
  </body>
</html>
